.walkerDashboard {
	height: 93vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.next_walk_section {
	border: 1px solid rgb(167, 167, 167);
	width: 70%;
	padding: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 8%;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 2.5px 5px 0px;
	font-size: 0.9em;
	font-family: 'Oswald', sans-serif;
}

.next_walk_section h3 {
	margin: 0 0 0 1%;
	color: #d2b338;
	font-size: 1em;
}

.walker_dash_pet_img {
	height: 25%;
	width: 25%;
	padding-right: 1%;
}

.next_walk_job {
	align-self: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.button_section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 20vh;
	width: 70%;
}

.button_section button {
	height: 5vh;
	width: 75%;
	border-radius: 5px;
}

.button_section button:hover {
	border: 1px solid grey;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.527);
}

.dogs_need_walking {
	display: flex;
	flex-direction: column;
}

.dogs_need_walking h4 {
	align-self: center;
}

.dogs_need_walking input {
	margin-bottom: 4%;
}

.button_section_schedule {
	align-self: center;
	width: 50%;
	height: 5vh;
	margin-top: 0%;
	border-radius: 5px;
	font-family: 'Catamaran', sans-serif;
	font-size: 1em;
	background-color: #d2b338;
}

.button_section_pending {
	align-self: center;
	width: 50%;
	height: 5vh;
	border-radius: 5px;
	font-family: 'Catamaran', sans-serif;
	font-size: 1em;
	background-color: #d2b338;
}

.button_section_schedule:hover {
	border: 1px solid grey;
	cursor: pointer;
}

.button_section_pending:hover {
	border: 1px solid grey;
	cursor: pointer;
}

footer {
	border: 1px solid rgb(168, 168, 168);
	background-color: rgb(168, 168, 168);
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}
