.walkerDashboard {
    height: 95.2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.next_walk_section {
    border: 1px solid rgb(167, 167, 167);
    width: 70%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2.5px 5px 0px;
}

.next_walk_section h3 {
    margin: 0 0 0 3%;
}

.next_walk_job {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.button_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 70%;
}

.button_section button {
    height: 5vh;
    width: 75%;
    border-radius: 5px;
}

.button_section button:hover {
    border: 1px solid grey;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.527);
}

.dogs_need_walking{
    display: flex;
    flex-direction: column;
}

.dogs_need_walking h4 {
    align-self: center;
}

.dogs_need_walking input {
    margin-bottom: 4%;
}

.dogs_need_walking button {
    width: 50%;
    height: 3vh;
    border-radius: 5px;
    align-self: center;
    margin: 5% 0 10% 0;
}

.dogs_need_walking button:hover {
    border: 1px solid grey;
    cursor: pointer;
}

footer {
    border: 1px solid rgb(168, 168, 168);
    background-color: rgb(168, 168, 168);
    display: flex;
    justify-content: space-around;
    width: 100%;
}