.extra_notes_page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.extra_notes_page textarea {
	padding: 1%;
	margin-bottom: 2%;
	width: 75%;
	box-shadow: rgba(0.5, 0.5, 0.5, 0.5) 0px 2.5px 5px 0;
}

.extra_notes_page button:hover {
	cursor: pointer;
	border: 1px solid gray;
	color: rgba(0, 0, 0, 0.623);
}

.extra_button_review {
	background-color: #d2b338;
	height: 40px;
	width: 100px;
	padding: 6px;
	margin-top: 15px;
	border-radius: 5px;
	font-size: 14px;
	color: white;
}

.extra_button_back {
	background-color: #d2b338;
	height: 40px;
	width: 100px;
	padding: 6px;
	margin-top: 5px;
	border-radius: 5px;
	font-size: 14px;
	color: white;
}
