.pet_name_page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.whats_dogs_name {
	font-family: 'Lilita One', cursive;
	font-size: 1.4em;
	margin-top: 20px;
}

.pet_name_page img {
	width: 150px;
	margin-top: 30px;
}

.pet_name_page input {
	width: 200px;
	height: 40px;
	margin-top: 15px;
	border-radius: 5px;
	border-color: transparent;
	background-color: rgba(232, 232, 232, 0.776);
	padding: 10px;
	font-size: 0.9em;
}

.pet_name_page button {
	align-self: center;
	width: 100px;
	height: 35px;
	margin-top: 10px;
	padding-top: 5px;
	border-radius: 5px;
	font-family: 'Catamaran', sans-serif;
	font-size: 1em;
	background-color: #d2b338;
	color: white;
	text-transform: uppercase;
}

.pet_name_page button:hover {
	cursor: pointer;
	border: 1px solid grey;
}

.progress_container {
	align-self: center;
	width: 80%;
}
