.yourPets {
	color: #d2b338;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
	padding-left: 10%;
}

.mappedpet {
	border: 1px solid #e0e0e0;
	box-shadow: 3px 3px 3px #e0e0e0;
	width: 75%;
	font-family: 'Catamaran', sans-serif;
	font-size: 1.2em;
	padding-left: 5%;
	margin-bottom: 20%;
}

.petCard {
	display: grid;
	grid-template-columns: 1fr;
	margin-left: 80px;
}

.mappedpet img {
	margin-left: 25px;
}

.mappedpet p,
.mappedpet h4,
.mappedpet button {
	margin-left: 27.5px;
}

#yourPets {
	font-family: 'Permanent Marker', cursive;
	font-size: 2em;
	margin-left: 115px;
	color: #d2c338;
}

.mappedpet button {
	margin-left: 45px;
	margin-bottom: 5px;
	height: 30px;
	border: none;
}

.mappedpet button:hover {
	background: #d2c338;
}
