.pet_age_page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.back_button {
	margin: 5px;
	align-self: flex-start;
}

.back_button:hover {
	cursor: pointer;
}

.pet_age_page img {
	width: 150px;
	margin: 5px;
}

.how_old {
	font-family: 'Lilita One', cursive;
	font-size: 1.4em;
	color: black;
	margin-top: 10px;
	text-align: center;
}

.pet_age_page input {
	width: 200px;
	height: 40px;
	margin-top: 20px;
	padding-left: 1%;
	border-radius: 5px;
	border-color: transparent;
	background-color: rgba(232, 232, 232, 0.776);
	padding-left: 2%;
	font-size: 0.9em;
}

.pet_age_page button {
	align-self: center;
	width: 100px;
	height: 35px;
	margin-top: 20px;
	border-radius: 5px;
	font-family: 'Catamaran', sans-serif;
	font-size: 1em;
	background-color: #d2b338;
	text-transform: uppercase;
	color: white;
	padding: 6px;
}

.pet_age_page button:hover {
	cursor: pointer;
	border: 1px solid grey;
}

.progress_container {
	align-self: center;
	width: 80%;
}
