.register_user_page {
	display: flex;
	flex-direction: column;
}

.Sign-up {
	align-self: center;
	color: #d2b338;
	font-family: 'Permanent Marker', cursive;
}

img {
	align-self: center;
	margin: 0;
	height: 150px;
	width: 150px;
}

form {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: space-around;
	width: 70%;
	height: 45vh;
	margin: 2.5% 0 0% 0;
	background-color: #e0e0e0;
	box-shadow: rgba(65, 65, 65, 0.3) 0px 2.5px 5px 5px;
	padding: 1% 0 1% 0;
}

form input {
	width: 80%;
	height: 3vh;
	border: 1px solid gray;
	padding-left: 1.5%;
	border-radius: 2.5px;
	align-self: center;
	border-radius: 5px;
}

.button_section {
	display: flex;
	flex-direction: column;
	align-self: center;
	height: 20%;
}

.owner-button {
	background-color: #d2b338;
	margin-top: 1em;
}
.walker-button {
	background-color: #d2b3384;
}
.owner-button:hover {
	cursor: pointer;
}
.walker-button:hover {
	cursor: pointer;
}
/* .owner_button {
	height: 10%;
	width: 50%;
} */

/* button:hover {
	cursor: pointer;
	border: 1px solid #d2b338;
	background-color: rgb(184, 182, 182);
} */

p {
	align-self: center;
	margin-bottom: 5%;
	font-family: 'Oswald', sans-serif;
}
h4 {
	color: rgb(60, 59, 59);
}
