.who_page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.back_button {
	margin: 2.5% 0% 2.5% 2.5%;
}

.owner_pet {
	display: flex;
	flex-direction: column;
}

.pet_section {
	box-shadow: 3px 3px 3px rgb(194, 194, 194);
	background-color: rgb(213, 212, 212);
	width: 70%;
	padding: 2%;
	margin-bottom: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pet_selectors {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 90%;
	padding: 2%;
	border: 1px solid #d2b338;
	background-color: #d2b338;
	box-shadow: rgb(148, 148, 148) 0px 2.5px 5px 2px;
	margin: 5% 5% 5% 5%;
}

.owner_pet:hover {
	cursor: pointer;
}

.who_page button {
	text-transform: uppercase;
	outline: 0;
	background: #d2b338;
	width: 30%;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	border-radius: 5px;
	cursor: pointer;
	margin: -1%;
}

.who_page button:hover {
	background: #d2b338aa;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
	cursor: pointer;
}

.progress_who {
	width: 80%;
	margin: 10%;
}
