.owner_info_page {
	display: flex;
	flex-direction: column;
}

.back_button {
	margin: 5px;
}

img {
	align-self: center;
}

.owner_info_page button {
	align-self: center;
	width: 100px;
	height: 35px;
	margin-top: 10px;
	border-radius: 5px;
	font-family: 'Catamaran', sans-serif;
	font-size: 1em;
	background-color: #d2b338;
	text-transform: uppercase;
	color: white;
	text-transform: uppercase;
	padding: 5px;
}

.owner_info_page button:hover {
	cursor: pointer;
	border: 1px solid #ffc404;
}

.progress-container {
	align-self: center;
	width: 80%;
}
