.nav {
	display: flex;
	background-color: rgb(184, 182, 182);
	height: 8vh;
	align-items: center;
	width: 100%;
	justify-content: flex-start;
	position: fixed;
	z-index: 1;
}
.nav i {
	margin-left: 10px;
}
.nav-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hamburger {
	padding: 5px;
	margin-left: 10px;
}

.ham {
	position: fixed;
	display: flex;
	flex-direction: column;
	padding: 5%;
	background-color: rgb(184, 182, 182);
	width: 30vw;
	justify-content: space-around;
	height: 20vh;
	color: white;
	text-decoration: none;
}

.ham button {
	color: white;
	background-color: rgb(184, 182, 182);
	border: none;
	height: 5vh;
	width: 10vw;
	font-size: 1em;
	margin-left: 18%;
}
