.walkerProfileCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.walkerProfileCard img {
	border-radius: 50%;
}

.walkerProfileCard h1 {
	width: 80%;
	font-size: 1.6em;
	text-align: center;
	font-style: italic;
	color: #d2b338;
	font-family: 'Rammetto One', cursive;
}

.walkerProfileCard p {
	width: 80%;
	margin-bottom: 10%;
}

.walkerProfilePrices {
	border: 1px solid #e0e0e0;
	box-shadow: 3px 3px 3px #e0e0e0;
	width: 75%;
	font-family: 'Catamaran', sans-serif;
	font-size: 1.2em;
	padding-left: 5%;
	margin-bottom: 10%;
}

.walkerProfilePrices h6 {
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
}

.walkerProfileContact {
	border: 1px solid #e0e0e0;
	box-shadow: 3px 3px 3px #e0e0e0;
	width: 75%;
	font-family: 'Catamaran', sans-serif;
	font-size: 1.2em;
	padding-left: 5%;
	margin-bottom: 10%;
}

/* .walkerProfileCard header {
	border: 1px solid #e0e0e0;
	box-shadow: 3px 3px 3px #e0e0e0;
	width: 75%;
	font-family: 'Catamaran', sans-serif;
	font-size: 1.2em;
	padding-left: 5%;
	margin-bottom: 10%;
} */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.address_container {
	width: 100%;
	border: solid 1px red;
}

.address {
	border: 1px solid #e0e0e0;
	box-shadow: 3px 3px 3px #e0e0e0;
	width: 75%;
	font-family: 'Catamaran', sans-serif;
	font-size: 1.2em;
	padding-left: 5%;
	margin-bottom: 10%;
}

.historyCardContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.walkerHistoryCard {
	border: 1px solid #e0e0e0;
	box-shadow: 3px 3px 3px #e0e0e0;
	width: 75%;
	margin-bottom: 6%;
}

.walkerHistoryCard p {
	font-family: 'Catamaran', sans-serif;
	font-size: 1.2em;
	padding-left: 5%;
	margin-bottom: 10%;
}
h3 {
	margin-left: 8%;
}
