.editPetCard {
	border: 1px solid #e0e0e0;
    margin: 10vh 5vw 0vh 5vw;
    box-shadow: 10px 10px 10px #e0e0e0;
}

.editPetCard input {
    margin-left: 7vw;
    height: 18px;
}

.editPetCard button {
    margin-top: 25px;
    margin-left: 125px;
    border: none;
    margin-bottom: 25px;
    height: 40px;
}