.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(255, 255, 255);
	margin: 8%;
}

.chipper {
	color: #d2b338;
	font-family: 'Rammetto One', cursive;
	font-size: 3em;
}

.login_chipper_dog {
	width: 200px;
}

.login-container {
	box-shadow: 5px 5px 5px rgb(208, 208, 208);
	border: solid 1px rgb(227, 227, 227);
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;
	font-family: 'Catamaran', sans-serif;
	width: 100%;
}
#dont {
	font-size: 1em;
	color: rgba(0, 0, 0, 0.769);
	text-decoration: none;
}
.Login-inputs {
	background-color: rgb(255, 255, 255);
}
.submit-button {
	text-transform: uppercase;
	outline: 0;
	background: #d2b338;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	border-radius: 5px;
	cursor: pointer;
}

.submit-button:hover {
	background: #d2b338aa;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
	cursor: pointer;
}
.input {
	border-radius: 5px;
	box-sizing: border-box;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	font-size: 0.9em;
}
