.main-container {
	display: flex;
	flex-direction: column;
}

.schedule-container {
	display: flex;
	flex-direction: column;
	box-shadow: 3px 2px 3px rgb(208, 208, 208);
	border: solid 1px rgb(227, 227, 227);
	padding: 1em;
	height: 10em;
	width: 15em;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
}

.your_companion {
	color: #d2b338;
	font-size: 1.3em;
}
.buttons {
	text-transform: uppercase;
	outline: 0;
	background: #d2b338;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10%;
}

.buttons:hover {
	background: #d2b338aa;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
	cursor: pointer;
}
.buttons-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 12em;
	width: 15em;
	margin-top: 10%;
}

footer {
	border: 1px solid rgb(168, 168, 168);
	background-color: rgb(168, 168, 168);
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
}

i,
a:visited,
i:hover,
i:active {
	color: black;
}
