.main-container {
	display: flex;
	flex-direction: column;
}

.schedule-container {
	box-shadow: 3px 2px 3px rgb(208, 208, 208);
	border: solid 1px rgb(227, 227, 227);
	padding: 1em;
	height: 6em;
	width: 15em;
}

.view-schedule-Container {
	font-family: 'Catamaran', sans-serif;
}
.your_companion {
	font-family: 'Catamaran', sans-serif;
}
.buttons {
	text-transform: uppercase;
	outline: 0;
	background: #d2b338;
	width: 100%;
	padding: 16px;
	color: #000000;
	font-size: 16px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 0em;
	margin-top: 2em;
}

.buttons:hover {
	background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
	cursor: pointer;
}
.buttons-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 12em;
	width: 15em;
	margin-top: 10%;
}

footer {
	border: 1px solid rgb(168, 168, 168);
	background-color: rgb(168, 168, 168);
	display: flex;
	justify-content: space-around;
	width: 119%;
	align-items: center;
	margin-top: 38%;
}

i,
a:visited,
i:hover,
i:active {
	color: black;
}
