.review_new_walk_page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pet_and_walker_container {
	display: flex;
	justify-content: space-around;
	border: 1px solid grey;
	box-shadow: rgba(0.5px 0.5px 0.5px 0.5px) 0 2.5px 5px 0;
	width: 75%;
	padding: 2%;
	margin: 0 0 2% 0;
}

.details_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2%;
	margin: 0 0 2% 0;
	border: 1px solid grey;
	box-shadow: rgba(0.5px 0.5px 0.5px 0.5px) 0 2.5px 5px 0;
	width: 75%;
}

/* .review_new_walk_page button {
	margin: 0 0 2% 0;
	height: 4vh;
	width: 20%;
	border-radius: 4px;
} */

.review_new_walk_page button:hover {
	cursor: pointer;
	border: 1px solid grey;
	color: rgba(0, 0, 0, 0.575);
}

.review_button_schedule {
	background-color: #d2b338;
	height: 30%;
	width: 30%;
	padding: 2%;
	margin: 4%;
	border-radius: 5px;
	font-size: 14px;
	color: white;
}

.review_button_back {
	background-color: #d2b338;
	height: 30%;
	width: 30%;
	padding: 2%;
	margin: 0%;
	border-radius: 5px;
	font-size: 14px;
	color: white;
}
