.walker_schedule {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pending_walks_section {
	width: 300px;
	display: flex;
	flex-direction: column;
}

.pending_walks_section h4 {
	margin-bottom: 10px;
}

.walker_schedule h1 {
	color: #d2b338;
	margin: 10px 0 20px 0;
}

.walker_schedule_img {
	height: 150px;
}

.picture_and_name h4 {
	font-style: italic;
}

.pending_walks_list {
	border: 1px solid #e0e0e0;
	box-shadow: 1px 1px 1px rgb(222, 222, 222);
	width: 300px;
	align-self: center;
	display: flex;
	flex-direction: column;
}

.picture_and_name {
	display: flex;
}

.pending_walks_list p {
	align-self: center;
}

.pending_buttons {
	align-self: center;
}

.scheduled_walks_section {
	width: 300px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.scheduled_walks_section h4 {
	color: #d2b338;
}

.scheduled_walks_list {
	border: 1px solid #e0e0e0;
	box-shadow: 1px 1px 1px rgb(222, 222, 222);
	margin: 5px;
	width: 100%;
	align-self: center;
}
